{%- liquid
  comment
    Translations
  endcomment

  assign skip_link_t = 'sections.featured_collection.skip_link' | t
  assign view_collection_t = 'sections.featured_collection.view_collection' | t

  comment
    Variables
  endcomment

  assign bg_color = section.settings.background-color
  assign collection = collections[section.settings.collection]
  assign description_enabled = section.settings.description-enabled
  assign display_type = section.settings.display-type
  assign heading = section.settings.heading
  assign image_enabled = section.settings.image-enabled
  assign max_products = section.settings.max-products
  assign products_per_row_desktop = section.settings.products-per-row--desktop
  assign products_per_row_mobile = section.settings.products-per-row--mobile
  assign section_alignment = section.settings.section-alignment
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign top_border = section.settings.top-border
  assign white_text = section.settings.white-text

  assign onboarding = true
  if collection.handle.size > 0 and collection.products_count != 0
    assign onboarding = false
  endif

  if onboarding
    if description_enabled
      assign collection_description = 'collections.placeholder.collection_description' | t
    endif
    if image_enabled
      capture collection_image
        render "placeholder", type: "collection", aspect_ratio: 1.45, placeholder_index: 1
      endcapture
    endif
  else
    if collection.image.size > 0 and image_enabled
      capture collection_image
        assign image_url = collection.image | image_url: width: collection.image.width
        echo image_url | image_tag: widths: '800, 1000, 1200, 1500, 1800, 2100', sizes: '50vw'
      endcapture
    endif

    if collection.description.size > 0 and description_enabled
      assign collection_description = collection.description
    endif
  endif

  assign has_image = false
  if collection_image.size > 0
    assign has_image = true
  endif

  assign width = 100 | divided_by: products_per_row_desktop | append: 'vw'
  assign mobile_width = 100 | divided_by: products_per_row_mobile  | append: 'vw, '
  assign sizes = '(max-width: 767px) ' | append: mobile_width | append: width

  capture product_items
    if onboarding == true
      for i in (1..max_products)
        assign placeholder_index = i
        if i > 6
          assign placeholder_index = i | minus: 6
        endif

        render 'product-card', onboarding: true, placeholder_index: placeholder_index, section_id: section.id

        unless forloop.last
          echo '<span class="divider"></span>'
        endunless
      endfor
    else
      assign loading = 'lazy'
      if section.index == 1
        assign loading = 'eager'
      endif

      assign trans_classes = "reveal_tran_bt,reveal_tran_rl,reveal_tran_lr,reveal_tran_tb" | split: ","

      for product in collection.products limit: max_products
        assign trans_class_index = "now" | date: "%N" | modulo: 4
        assign trans_class_index_two = "now" | date: "%N" | modulo: 4

        render 'product-card', product_item: product, section_id: section.id, sizes: sizes, loading: loading, trans_class: trans_classes[trans_class_index] trans_class2: trans_classes[trans_class_index_two]

        unless forloop.last
          echo '<span class="divider"></span>'
        endunless
      endfor
    endif
  endcapture

  assign product_items_arr = product_items | split: '<span class="divider"></span>'
-%}

<div
  class="featured-collection--root"
  data-section-id="{{ section.id }}"
  data-container-width="5"
  data-background-color="{{ bg_color }}"
  data-has-image="{{ has_image }}"
  {% if white_text %}
    data-text-color="white"
  {% endif %}
  data-section-type="index_featured_collection"
  data-spacing-above="{{ spacing_above }}"
  data-spacing-below="{{ spacing_below }}"
  data-top-border="{{ top_border }}"
>
  <div class="featured-collection--wrapper" data-container="section">
    <div
      class="featured-collection--header"
      data-container="panel"
      data-text-alignment="{{ section_alignment }}"
    >
      <div class="featured-collection--header-text" data-container="block">
        <h2
          class="featured-collection--title"
          data-item="section-heading"
          {% unless settings.transitions--text %}
            data-transition-item="viewport"
            data-transition-type="slide-in"
          {% endunless %}
        >
          <a href="{{ collection.url }}">
            {{- heading -}}
          </a>
        </h2>

        {%- if collection_description.size > 0 -%}
          <div class="featured-collection--description" data-item="paragraph">
            {{- collection_description -}}
          </div>
        {%- endif -%}
      </div>

      {%- if collection_image.size > 0 -%}
        <div class="featured-collection--image" data-item="image">
          {{- collection_image -}}
        </div>
      {%- endif -%}
    </div>

    <div
      class="featured-collection--products"
      data-display-type="{{ display_type }}"
      data-container="panel"
      {% if display_type == 'grid' %}
        data-columns="{{ products_per_row_desktop }}"
        data-mobile-columns="{{ products_per_row_mobile }}"
      {% endif %}
      {% unless settings.transitions--other %}
        data-transition-container="{{ section.id }}"
        data-transition-type="fade-in"
        data-transition-cascade="horizontal"
        data-transition-cascade-interval="200"
      {% endunless %}
    >
      {%- if collection.products.size > max_products -%}
        <a data-item="a11y-button" href="#featured_collection_show_more">'
          {{- skip_link_t -}}
        </a>
      {%- endif -%}

      {%- if display_type == 'slideshow' -%}
        {%-
          render 'carousel',
          section: section,
          blocks: product_items_arr,
          blocks_per_slide: products_per_row_desktop,
          blocks_per_slide_mobile: products_per_row_mobile,
          total_blocks: product_items_arr.size
        -%}

      {%- else -%}
        {%- liquid
          for product in product_items_arr
            echo product
          endfor
        -%}
      {%- endif -%}
    </div>

    {%- if collection.products.size > max_products -%}
      <div data-container="block" data-text-alignment="{{ section_alignment }}">
        <a
          id="featured_collection_show_more"
          href="{{ collection.url }}"
          class="featured-collection--show-more"
          data-text="{{- view_collection_t -}}"
          data-item="{{- settings.buttons--style -}}"
          {% unless settings.transitions--buttons %}
            data-transition-button
          {% endunless %}
        >
          <span>{{- view_collection_t -}}</span>
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "class": "section--featured-collection",
  "settings": [
    {
      "type": "header",
      "content": "Style and layout"
    },
    {
      "id": "top-border",
      "label": "Top border",
      "type": "checkbox",
      "default": false
    },
    {
      "id": "spacing-above",
      "label": "Spacing above",
      "type": "checkbox",
      "default": true
    },
    {
      "id": "spacing-below",
      "label": "Spacing below",
      "type": "checkbox",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "image-enabled",
      "label": "Show collection image",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "description-enabled",
      "label": "Show collection description",
      "default": false
    },
    {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Light",
          "value": "light"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Accent 1",
          "value": "accent-1"
        },
        {
          "label": "Accent 2",
          "value": "accent-2"
        }
      ],
      "default": "none"
    },
    {
      "id": "white-text",
      "label": "Use white text color",
      "type": "checkbox",
      "default": false
    },
    {
      "id": "section-alignment",
      "label": "Heading and call-to-action alignment",
      "type": "text_alignment",
      "default": "center",
      "info": "Only affects alignment when no collection image is added."
    },
    {
      "id": "display-type",
      "label": "Display type",
      "type": "select",
      "options": [
        { "label": "Slideshow", "value": "slideshow" },
        { "label": "Grid", "value": "grid" }
      ],
      "default": "slideshow"
    },
    {
      "label": "Products per row",
      "id": "products-per-row--desktop",
      "type": "select",
      "options": [
        { "value": "3", "label": "3" },
        { "value": "4", "label": "4" }
      ],
      "default": "3"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "id": "max-products",
      "label": "Maximum number of products",
      "type": "range",
      "min": 4,
      "max": 12,
      "step": 1,
      "default": 6
    },
    {
      "label": "Heading",
      "id": "heading",
      "type": "text",
      "default": "Collection name"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "label": "Products per row",
      "id": "products-per-row--mobile",
      "type": "select",
      "options": [
        { "value": "1", "label": "1" },
        { "value": "2", "label": "2" }
      ],
      "default": "1"
    }
  ],
  "presets": [
    {
      "name": "Featured collection"
    }
  ],
  "disabled_on": {
    "groups": ["aside"]
  }
}
{% endschema %}