{%- liquid
  assign alignment = section.settings.text-alignment
  assign bg_color = section.settings.background-color
  assign container_width = section.settings.container-width
  assign description = section.settings.description
  assign form_id = 'newsletter--' | append: section.id
  assign heading = section.settings.heading | escape
  assign highlight_type = section.settings.highlight-type
  assign highlight_color = section.settings.highlight-color
  assign highlight_text = section.settings.highlight-text
  assign overline = section.settings.overline
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign top_border = section.settings.top-border
  assign white_text = section.settings.white-text
-%}

<div
  class="newsletter--root"
  data-section-id="{{ section.id }}"
  data-background-color="{{ bg_color }}"
  data-container-width="{{ container_width }}"
  {% if white_text %}
    data-text-color="white"
  {% endif %}
  data-spacing-above="{{ spacing_above }}"
  data-spacing-below="{{ spacing_below }}"
  data-top-border="{{ top_border }}"
  {% unless settings.transitions--text %}
    data-transition-container="{{ section.id }}"
    data-transition-type="slide-in"
    data-transition-cascade="vertical"
    data-transition-cascade-interval="500"
  {% endunless %}
>
  <div class="newsletter--wrapper" data-text-alignment="{{ alignment }}">
    <div class="newsletter--block" data-container="block">
      {%- unless heading == blank -%}
        <div
          {% unless settings.transitions--text %}
            data-transition-item="{{ section.id }}"
          {% endunless %}
        >
          <h2 class="newsletter--title" data-item="section-heading">
            {%-
              render 'utils',
              utility: 'highlighted-text',
              text: heading,
              highlight_color: highlight_color,
              highlight_text: highlight_text,
              highlight_type: highlight_type
            -%}
          </h2>
        </div>
      {%- endunless -%}

      {%- unless overline == blank -%}
        <div
          class="newsletter--overline"
          {% unless settings.transitions--text %}
            data-transition-item="{{ section.id }}"
          {% endunless %}
        >
          <h3 data-item="overline">
            {{- overline | escape -}}
          </h3>
        </div>
      {%- endunless -%}

      {%- unless description == blank -%}
        <div
          class="newsletter--description"
          data-item="paragraph"
          {% unless settings.transitions--text %}
            data-transition-item="{{ section.id }}"
          {% endunless %}
        >
          {{- description -}}
        </div>
      {%- endunless -%}

      <div
        class="newsletter--form"
        {% unless settings.transitions--text %}
          data-transition-item="{{ section.id }}"
          data-transition-type="fade-in"
        {% endunless %}
      >
        {%- render 'subscribe-form', id: form_id, alignment: alignment -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Newsletter",
    "class": "section--newsletter",
    "settings": [
      {
        "type": "header",
        "content": "Layout and Color"
      },
      {
        "id": "top-border",
        "label": "Top border",
        "type": "checkbox",
        "default": false
      },
      {
        "id": "spacing-above",
        "label": "Spacing above",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "spacing-below",
        "label": "Spacing below",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "background-color",
        "label": "Background color",
        "type": "select",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "Light",
            "value": "light"
          },
          {
            "label": "Dark",
            "value": "dark"
          },
          {
            "label": "Accent 1",
            "value": "accent-1"
          },
          {
            "label": "Accent 2",
            "value": "accent-2"
          }
        ],
        "default": "none"
      },
      {
        "id": "container-width",
        "label": "Maximum width of container",
        "type": "select",
        "options": [
          { "label": "Extra small", "value": "1" },
          { "label": "Small", "value": "2" },
          { "label": "Medium", "value": "3" },
          { "label": "Large", "value": "4" }
        ],
        "default": "4"
      },
      {
        "id": "white-text",
        "label": "Use white text color",
        "type": "checkbox",
        "default": false
      },
      {
        "id": "text-alignment",
        "label": "Text alignment",
        "type": "text_alignment",
        "default": "center"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "id": "overline",
        "label": "Overline",
        "type": "text",
        "default": "Overline text"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Subscribe to our newsletter",
        "info": "Highlight headings by wrapping text with square brackets, ie. This is [highlighted]."
      },
      {
        "id": "highlight-type",
        "label": "Highlight type",
        "type": "select",
        "options": [
          {
            "label": "Italic",
            "value": "italic"
          },
          {
            "label": "Bold",
            "value": "bold"
          },
          {
            "label": "Bold italic",
            "value": "bold-italic"
          },
          {
            "label": "Text color",
            "value": "color"
          },
          {
            "label": "Outlined",
            "value": "outlined"
          },
          {
            "label": "Highlight",
            "value": "highlight"
          },
          {
            "label": "Half highlight",
            "value": "half-highlight"
          }
        ],
        "default": "italic"
      },
      {
        "id": "highlight-color",
        "label": "Highlight color",
        "type": "color",
        "default": "#FFDD66"
      },
      {
        "id": "highlight-text",
        "label": "Highlighted text color",
        "type": "color",
        "default": "#000000"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
      },
      {
        "type": "paragraph",
        "content": "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)"
      }
    ],
    "blocks" : [],
    "presets": [
      {
        "name": "Newsletter"
      }
    ],
    "disabled_on": {
      "groups": ["aside"]
    }
  }
{% endschema %}
